#map {
	height: 600px;
}

#load-more {
	width: 100%;
}

#load-more .spinner {
	display: none;
	margin: 0 auto;
}

#load-more:disabled .spinner {
	display: block;
}

#load-more:disabled .text {
	display: none;
}
